@using OptTorgWebDB.Models
@model IEnumerable<Employees>

<!DOCTYPE html>

<html>
<body class="panel-body">
	@{
		@if(ViewBag.Type == 0)
		{
			<div class="alert alert-success alert-dismissible fade show m-1" role="alert">
				@ViewBag.Message
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		}

		@if (ViewBag.Type == 1)
		{
			<div class="alert alert-danger alert-dismissible fade show  m-1" role="alert">
				@ViewBag.Message
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		}
	}
	<!-- Заголовок -->
	<p class="fs-3 text-decoration-underline fw-bold m-1">Просмотреть</p>
	<!-- Заголовок 2 -->
	<p class="fs-4 text-decoration-underline m-1">Адреса сотрудников</p>

	<!-- Кнопка -->
	<a class="btn btn-success m-1" style="width:15%" asp-controller="Employees" asp-action="OpenCEmployees">Создать</a>
	
	<div class="table-responsive table-striped table-hover table-bordered">
		<table class="table table-bordered table-striped table-hover caption-top">
			<thead>
				<tr>
					<th>Ид</th>
					<th>Страна</th>
					<th>Область</th>
					<th>Город</th>
					<th>Адрес</th>
					<th>Почтовый индекс</th>

					<th colspan="2" class="text-center">Действия</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var e in @Model)
				{
					<tr>
						<td>@e.IdEmployees</td>
						<td>@e.State</td>
						<td>@e.Oblast</td>
						<td>@e.City</td>
						<td>@e.Adress</td>
						<td>@e.PostIndex</td>

						<!-- Кнопки в таблице -->
						<td style="width:1px; white-space:nowrap;">
							<form asp-controller="Employees" method="post">
								<input type="hidden" name="IdEmployees"
									   value="@e.IdEmployees" />
								<button type="submit" class="btn btn-warning" asp-action="OpenEEmployees" method="post">
									Изменить
								</button>
							</form>
						</td>
						<td style="width:1px; white-space:nowrap;">
							<form asp-controller="Employees" method="post">
								<input type="hidden" name="IdEmployees"
									   value="@e.IdEmployees" />
								<button type="submit" class="btn btn-danger" asp-action="DEmployees" method="post">
									Удалить
								</button>
							</form>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</body>
</html>
