@using OptTorgWebDB.Models
@model CargoInfo

<!DOCTYPE html>

<html>
<body class="panel-body">
	@{
		@if (ViewBag.Type == 0)
		{
			<div class="alert alert-success alert-dismissible fade show m-1" role="alert">
				@ViewBag.Message
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		}

		@if (ViewBag.Type == 1)
		{
			<div class="alert alert-danger alert-dismissible fade show  m-1" role="alert">
				@ViewBag.Message
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		}
	}
	<!-- Заголовок -->
	<p class="fs-3 text-decoration-underline fw-bold m-1">Просмотреть</p>
	<!-- Заголовок 2 -->
	<p class="fs-4 text-decoration-underline m-1">Отправки</p>

	<!-- Кнопка -->
	<a class="btn btn-warning m-1" style="width:15%" asp-controller="CargoInfo" asp-action="TCargoInfo">Отмена</a>

	<div class="table-responsive table-striped table-hover table-bordered">
		<table class="table table-bordered table-striped table-hover caption-top">
			<thead>
				<tr>
					<th>Ид</th>
					<th>Сотрудник</th>
					<th>Ид склада</th>
					<th>Адрес склада</th>
					<th>Ид клиента</th>
					<th>Клиент</th>
					<th>Водитель</th>
					<th>Ид расценки</th>
					<th>Статус</th>

					<th colspan="2" class="text-center">Действия</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var e in Sending.GetSendingsVObrabotke())
				{
					<tr>
						<td>@e.IdSending</td>
						<td>@e.GlavBuh.Surname @e.GlavBuh.Name</td>
						<td>@e.StorageId</td>
						<td>@e.Storage.Adress</td>
						<td>@e.CustomerId</td>
						<td>@e.Customer.Company</td>
						<td>@e.Driver.SeNavigation.EmployeeNavigation.Surname @e.Driver.SeNavigation.EmployeeNavigation.Name</td>
						<td>@e.PricingId</td>
						<td>@e.Ss.Status</td>

						<!-- Кнопки в таблице -->
						<td style="width:1px; white-space:nowrap;">
							<form asp-controller="CargoInfo" method="post">
								<input type="hidden" name="SendingId"
									   value="@e.IdSending" />
								<button type="submit" class="btn btn-success" asp-action="OpenPickSales" method="post">
									Выбрать
								</button>
							</form>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</body>
</html>
